/*
 * Default styles for the userdirectory views.
*/

.cyclos-user-list .filter,
.cyclos-user-list .orderby {
	display: inline-block;
	margin: 0 1em 0.5em 0;
}

.cyclos-user-list .filter label,
.cyclos-user-list .orderby label {
	display: block;
}

.cyclos-user-list .user-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
	margin: 1em -0.5em;
}

.cyclos-user-list .cyclos-user {
	padding: 0 0.5em;
	margin-bottom: 1em;
	max-height: 250px;
}

.cyclos-user-list .cyclos-user-item {
	border: 1px solid #dee2e6;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	height: 100%;
	cursor: pointer;
	word-break: break-word;
	word-wrap: break-word;
	display: grid;
	grid-template-rows: auto minmax(1px, 1fr);
	gap: 0.5em;
}

.cyclos-user-list .cyclos-user-item:hover {
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}

.cyclos-user-item .name {
	padding: 0.3em;
	line-height: 1.5;
}

.cyclos-user-list .cyclos-user-logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	width: auto;
}
