{
    // Without calling the wordpres eslint package here, the ESLint VSCode extension can
    // not find the eslint configuration.
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"rules": {
		"@wordpress/i18n-text-domain": [
			"error",
			{
				"allowedTextDomain": "cyclos"
			}
		]
	}
}
